<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width-device-width, initial-scale-1.0" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="wrap">
        <h1>Acesso negado</h1>
        <p>
          O seu tempo expirou ou o utilizador não conseguiu ser identificado.
          Abra a aplicação e faça um novo pedido de recuperação da
          palavra-passe.
        </p>
      </div>
    </div>
  </body>
</html>
