* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background: #5990ff;
}

.form-container {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #5990ff;
  justify-content: center;
  margin-top: 10%;
}
.form-container .form-wrap {
  background: #fff;
  border-radius: 15px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  box-shadow: 0px 2px 2px #00000029;
  width: 700px;
  height: 280px;
  padding: 15px 100px;
}

.form-container .form-wrap h1 {
  text-align: center;
  margin: 0px 0px 20px;
  color: #212121;
}

.form-container .form-wrap .form-box {
  margin: 0px 0px 15px;
}
.form-container .form-wrap .form-box input[type="password"] {
  padding: 5px 8px;
  font-size: 20px;
  box-shadow: 0px 2px 2px #00000029;
  border-radius: 15px;
  border: 1px solid #8cb2ff;
  width: 100%;
}
.form-container .form-wrap .form-submit {
  display: flex;
  justify-content: center;
}
.form-container .form-wrap .form-submit input[type="submit"] {
  padding: 8px 14px;
  border: none;
  box-shadow: 0px 2px 2px #00000029;
  border-radius: 50px;
  background: #9ec3ff;
  margin-top: 15px;
  color: #fff;
  font-weight: 800;
  width: 200px;
  border: 1px solid #9ec3ff;

  border: 0px;
  cursor: pointer;
  font-size: 20px;
}
.form-submit :hover {
  opacity: 0.8;
}

.success-message {
  color: #4bb543;
}

.container {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #5990ff;
  justify-content: center;
  margin-top: 10%;
}

.wrap {
  background: #fff;
  border-radius: 15px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  box-shadow: 0px 2px 2px #00000029;
  width: 700px;
  height: 280px;
  padding: 15px 100px;
}
h1 {
  text-align: center;
  margin: 0px 0px 20px;
  color: #ff5252;
}
p {
  font-size: 20px;
  text-align: center;
}
